
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/train-labels-idx1-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/train-images-idx3-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/data/FashionMNIST/raw/t10k-images-idx3-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-python.tar.gz
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/test_batch
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/readme.html
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/data_batch_5
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/data_batch_4
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/data_batch_3
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/data_batch_2
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/data_batch_1
DeepLearning_Limu/zh-v2_d2l_ai/data/cifar-10-batches-py/batches.meta
DeepLearning_Limu/zh-v2_d2l_ai/3.LinearNN/logs_img/events.out.tfevents.1698630891.LAPTOP-15F85JC7.25788.0
data/cifar-10-python.tar.gz
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/t10k-images-idx3-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/train-images-idx3-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/train-labels-idx1-ubyte
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/model/LeNet_my-num_epochs=10.pth
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/model/logs_LeNet/events.out.tfevents.1698843251.LAPTOP-15F85JC7.24748.0
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/model/logs_LeNet/events.out.tfevents.1698843289.LAPTOP-15F85JC7.14000.0
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/model/logs_LeNet/events.out.tfevents.1698843457.LAPTOP-15F85JC7.22660.0
DeepLearning_Limu/zh-v2_d2l_ai/06_ConvolutionalNeuralNetwork/model/logs_LeNet/events.out.tfevents.1698843765.LAPTOP-15F85JC7.27352.0
